@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");
@import "resumex.css";

/* Additions for rezvov.com */
//
//$link-color: #FFC107;
//$link-focused-color: #ff9800;

$link-color: #B38207;
$link-focused-color: #ff9800;
$done-list-padding: 1.5em;


.title {
    line-height: 1.1em;
    font-weight: 700;
    font-size: 20px;
}

a {
    color              : $link-color;
    text-decoration    : none;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
}

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
}

a:hover,
a:focus {
    text-decoration : none;
    color           : $link-focused-color;
}

.btn-primary {
    background-color : $link-color;
}

.progress-item .progress-bar {
    background-color : $link-color;
}

ul.done-list {
    list-style: none;
    padding: 0;

    li {
        padding-left: $done-list-padding;
        margin-bottom: 1.0em;

        &:before {
            content: "\f00c"; /* FontAwesome Unicode */
            color: $link-color;
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -$done-list-padding;
            width: $done-list-padding;
        }
    }
}

ul.address-list {
    list-style: none;
    padding: 0;

    li {
        padding-left: $done-list-padding;
        margin-bottom: 0.6em;

        a{
            color: black;
            font-weight: bolder;
        }

        &:before {
            color: $link-color;
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -$done-list-padding;
            width: $done-list-padding;


        }

        &.contact-phone:before {
            content: "\f095";
        }
        &.contact-email:before {
            content: "\f0e0";
        }
        &.contact-telegram:before {
            content: "\f2c6";
        }
        &.contact-address:before {
            content: "\f041";
        }
        &.contact-skype:before {
            content: "\f17e";
        }
        &.contact-website:before {
            content: "\f0ac";
        }
    }
}
ul.services-list {
    list-style: none;
    padding: 0;

    li {
        margin-bottom: 0.6em;
    }
}

.print-only {
    display: none;
}

// Printing
@media print {
    .print-only {
        display: block;
    }

    @page {
        size: A4 portrait;
    }

    body {
        background-image: none;
    }

    .header {
        position: static !important;
        width: auto !important;
    }

    .left-col-block {
        min-height: 0 !important;
        margin-bottom: -50px;
    }

    .section-wrapper {
        padding-top: 0;
    }

    .header {
        text-align: left;
    }

    .profile-img, .social-icon, .footer, .lang-chooser, .print-action {
        display: none;
    }
    .collapse {
        display: block;
    }

    a[href]:after { content: " (https://rezvov.com"attr(href)")"; }
}

.lang-chooser {
    position: absolute;
    margin-top:20px;
    margin-left:20px;
    z-index: 10;
}
