@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");
@import "resumex.css";

/* Additions for rezvov.com */

$link-color: #FFC107;
$done-list-padding: 1.5em;

ul.done-list {
    list-style: none;
    padding: 0;

    li {
        padding-left: $done-list-padding;
        margin-bottom: 1.0em;

        &:before {
            content: "\f00c"; /* FontAwesome Unicode */
            color: $link-color;
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -$done-list-padding;
            width: $done-list-padding;
        }
    }
}

ul.address-list {
    list-style: none;
    padding: 0;

    li {
        padding-left: $done-list-padding;
        margin-bottom: 0.6em;

        a{
            color: black;
            font-weight: bolder;
        }

        &:before {
            color: $link-color;
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -$done-list-padding;
            width: $done-list-padding;


        }

        &.contact-phone:before {
            content: "\f095";
        }
        &.contact-email:before {
            content: "\f0e0";
        }
        &.contact-telegram:before {
            content: "\f2c6";
        }
        &.contact-address:before {
            content: "\f041";
        }
        &.contact-skype:before {
            content: "\f17e";
        }

    }
}

//button.detailed-skills {
//    color: #333333;
//    background-color: white;
//}

//.address-title{
//    margin-bottom: 0.5em;
//
//    //&:before {
//    //    content: "\f041";
//    //    color: $link-color;
//    //    font-family: FontAwesome;
//    //}
//}
//
//i.contact-address{
//    color: $link-color;
//    float:left;
//}

