${require('./../includes/header.html')}

<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1>CTO для вашего проекта</h1>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <p>
                    Итак, вы решили создать свой программный продукт, но сами не умеете, или, по каким-то причинам
                    не хотите заниматься разработкой продукта. Вы приняли решение найти того, кто возьмет на себя
                    разработку продукта, часто ответственного во всех аспектах за разработку продукта специалиста называют
                    CTO (Chief Technical Officer) или технический директор, в проектах небольшого масштаба фактчески он
                    может быть менеджером по разработке, техлидом или тимлидом. В любом случае, это то человек, который
                    будет отвечать перед вами за то, чтобы вы получили в результате разработки продукт, отвечающий
                    поставленным требованиям, выполненный с достаточным качеством и заданный срок.
                </p>
                <p>
                    Естественное решение в таком случае найти того, кто разработкой займется. Однако довольно сложно определить
                    какой именно специалист вам нужен. Это может быть сотрудник вашей компании/член команды, или кто-то
                    представляющий внешнюю компанию подрядчика. Вы можете найти того, кто хорошо владеет определенным набором технологий,
                    но может оказаться, что для вашего проекта подходят другие технологии, в мире их сейчас настолько много,
                    что легко отстать даже профессионалу.
                    Может оказаться, что на начальном этапе проекта специалист отлично справится с задачами разработки,
                    но когда придет время масштабировать усилия, то не сможет справиться с набором и контролем команды.
                </p>
                <p>
                    Чтобы в итоге найти CTO, того, кто будет отвечать за разработку, вам нужно проделать следующие шаги:
                </p>
                <ol>
                    <li>Определить подходящие технологии разработки.</li>
                    <li>Определить возможность работать с внешней командой или в составе своего штата.</li>
                    <li>Исходя из определенных условий сформировать требования к потенциальному кандидату.</li>
                    <li>Найти кандидатов и провести отбор на основании сформированных требований.</li>
                </ol>
                <p>
                    Каждый из этих шагов требует определенного опыта и квалификации:
                </p>
                <ul>
                    <li>
                        Мне довелось поработать в проектах с совершенно различными технологиями разработки, доводилось
                        видеть успешные проекты для каждой из них. При выборе технологий в первую очередь следует учитывать,
                        насколько они подходят для решения такого рода задач.
                        Технология может оказаться слишком молодой (недостаточно стабильной) или уже устаревшей.
                        Также стоит учитывать доступность специалистов на рынке труда и их стоимость.
                    </li>
                    <li>
                        Работа с командой в штате существенно отличается от работы с командой подрядчика, даже в режиме "онсайт".
                        В первую очередь нужно определить приоритеты: сэкономить бюджет, минимизировать сроки,
                        ограничить распространение информации о проекте и т.п.
                        К сожалению, готовой формулы нет, есть множество факторов, которые нужно учитывать и принимать
                        взвешенное решение.
                    </li>
                    <li>
                        В зависимости от того, выбрали вы работу с подрядчиком или принимаете человека в команду,
                        требования к кандидатам будут частично отличаться. В любом случае для всех нужно определить
                        квалификационные требования: достаточная степень знакомства с выбранным стеком технологий,
                        опыт разработки в подходящей вам методологии. Для подрядчика важен опыт реализации проектов
                        в вашей предметной области с бюджетами не меньшими вашего. Для сотрудника же нужно умение управлять
                        командой, знание необходимого инструментария для организации разработки, навыков бюджетирования и прочии.
                    </li>
                    <li>
                        Поиск специалистов тоже зависит от того, ищете вы члена команды или подрядчика. И в том и другом
                        случае нужно сформировать достаточный пул кандидатов, обратившись к публичным площадкам, своим контактам,
                        прямым поиском и прочими.
                        В случае с отдельными специалистами большая сложность найти достаточно кандидатов, чтобы можно
                        было выбрать, а определить соответствие требованиям уже относительно легче.
                        В случае с подрядными организациями кандидатов много, если знать где искать, но преимущественно
                        развитые навыки самопрезентации усложняют определение соответствия вашим требованиям.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Умею</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">Управление проектами разработки ПО</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 90%"><span class="progress-percent"> 90%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Управление качеством</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 85%;"><span class="progress-percent"> 85%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Управление продуктами</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 70%"><span class="progress-percent"> 70%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Управление персоналом</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 85%;"><span class="progress-percent"> 85%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Проектирование ПО</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 80%;"><span class="progress-percent"> 80%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">HR-брендинг</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 65%;"><span class="progress-percent"> 65%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->
                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <button class="btn btn-primary detailed-skills" type="button" data-toggle="collapse"
                            data-target="#spoiler-detailed-skills" aria-expanded="false" aria-controls="spoiler-detailed-skills">
                        Больше слов про умения
                    </button>
                </p>
                <div class="collapse" id="spoiler-detailed-skills">
                    <ul class="done-list">
                        <li>Формирование команд разработки, управление командами, развитие команд.</li>

                        <li>Организация разработки по различным методологиям: Agile Scrum, Kanban, Waterfall,
                            WaterScrumFall.</li>
                        <li>Организация управления требованиями: процессы бизнес- и системного анализа, валидации
                            требований, приемки требований.
                        </li>
                        <li>Организация процессов обеспечения качества программных продуктов: верификация (тестирование),
                            валидация, процессы из стандартов семейства ISO 9000.</li>
                        <li>Организация процессов запуска продуктов и поддержки, включая организацию служб поддержки,
                            внедрение концепции DevOps, систем непрерывной интеграции/непрерывного развертывания
                            (CI/CD).</li>
                        <li>Организация управления продуктами: процессы жизненного цикла продукта (LifeCycle Management),
                            внедрение концепции Stage-Gate в этих процессах.</li>
                        <li>Бюджетирование разработки по подразделениям/проектам.</li>
                        <li>Управление проектами по разработке программных продуктов.</li>
                        <li>Организация процессов обучения, наставничества, стажерских программ для разных специальностей,
                            системы грейдов специалистов в разработке программного обеспечения.</li>
                        <li>Проектирование архитектуры программных продуктов.</li>
                        <li>Проектирование API программных продуктов.</li>
                        <li>Разработка программных продуктов.</li>
                        <li>Разработка технической и проектной документации.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Опыт</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <ul class="done-list">
                        <li>Опыт непосредственной разработки ПО <strong>10 лет</strong></li>
                        <li>Опыт проектирования архитектуры ПО <strong>8 лет</strong></li>
                        <li>Опыт формирования команд разработки ПО <strong>10 лет</strong></li>
                        <li>Разработано программных продуктов <strong>более 50</strong></li>
                        <li>Оценено бюджетов и сроков <strong>более 500</strong></li>
                        <li>Собеседований проведено <strong>более 2000</strong></li>
                    </ul>
                </div>
                <div class="content-item">
                    <p>
                        Расскажу про свой опыт подробнее в контексте вашей задачи.
                        По запросу предоставлю резюме, рекомендации или контакты заказчиков.
                    </p>
                </div>

            </div>
        </div>
        <!-- .row -->

    </div>
</section>
<!-- .section-publications -->

${require('./../includes/footer.html')}
