
${require('underscore-node')
    .template(require('./../includes/header-ru.html'))({
        title: "проведу аудит качества вашей разработки",
        description: "Проведу аудит качества вашей разработки, включая состояние проектов, процессов, сотрудников разработки."
})}

<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1>Аудит качества вашей разработки</h1>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <p>
                    Проведу аудит качества вашей разработки в том числе в этих аспектах:
                </p>
                <ol>
                    <li>
                        Оценка состояния проектов: качество исходных кодов, тестов, системы CI/CD, документации, требований.
                    </li>
                    <li>
                        Оценка процессов: управление продуктами, проектами, качеством, требованиями, поддержкой.
                    </li>
                    <li>
                        Оценка сотрудников: соответствие штатного расписания бизнес-требованиям, адекватность должностных инструкций, соответствие сотрудников должностям, их мотивация, отношение к коллективу и руководству.
                    </li>
                </ol>
                <p>
                    В результате вы получите отчет о состоянии дел по перечисленным пунктам и рекомендации по улучшению с оценкой их сложности.
                    Следующим шагом вы сможете либо с моим участием, либо собственными силами составить и выполнить план внедрения улучшений.
                    Кроме того, после проведенного анализа, я буду в контексте ваших проектов и смогу без дополнительных затрат приступить к другим вашим задачам.
                </p>
                <h2>Что это даст?</h2>
                <p>
                    В моем отчете вы получите:
                </p>
                <ol>
                    <li>
                        Новый “незамыленный” взгляд на состояние вашей разработки.
                        С высокой вероятностью в результате я предложу меры, которые в короткий срок дадут серьезный
                        экономический эффект, либо снизят риски.
                    </li>
                    <li>
                        Понимание мотивации ваших сотрудников, настроений в коллективе, “узкие места” (bottlenecks)
                        во взаимодействии сотрудников. В крупных командах легко потерять из виду тех, кто толкает
                        команду вперед, а кто в обратную сторону.
                    </li>
                    <li>
                        Вы узнаете как оценивают качество разработки программных продуктов ваши сотрудники или
                        ваши партнеры в разработке. Мне довелось анализировать множество процессов разработки и
                        налаживать самому, и я смогу рассказать о качестве разработки в вашем предприятии в сравнении
                        с другими компаниями-разработчиками.
                    </li>
                </ol>

                <h2>Что потребуется?</h2>
                <p>
                    Чтобы приступить к работе мне потребуется доступ к вашим информационным ресурсам, связанным с
                    разработкой, поддержкой и другими аспектами требующими аудита.
                </p>
                <p>
                    Для общения с вашими сотрудниками меня можно будет представить явно как консультанта по организации
                    процессов разработки. Если по каким-то причинам афишировать аудит не хочется, можно представить
                    меня как сотрудника подразделения (заместителем CTO например), либо консультанта по подготовке к аттестации
                    предприятия для какого-нибудь стандарта, например семейства ISO 9000.
                </p>
                <p>
                    Для анализа процессов потребуется участие в мероприятиях разработки: митингах, планированиях,
                    демонстрациях и т.п.
                </p>

                <h2>Порядок действий</h2>
                <p>
                    Порядок действий уже отработан:
                </p>
                <ol>
                    <li>
                        Заключаем NDA, в вашей форме, либо я предложу свою.
                    </li>
                    <li>
                        Вы передаете для оценки объема работ доступ к информационным системам, технические задания, списки сотрудников и прочее.
                    </li>
                    <li>
                        Я оцениваю мои затраты на аудит: срок и стоимость работ.
                    </li>
                    <li>
                        Заключаем договор оказания консультаций по анализу и оптимизации процессов разработки программного обеспечения.
                    </li>
                    <li>
                        В указанный срок вы получаете результаты в виде отчетов и рекомендаций с моими устными комментариями.
                    </li>
                    <li>
                        По результатам работы мы принимаем решение, стоит ли вам что-нибудь изменить, могу ли я с этим помочь.
                    </li>
                </ol>

                <h2>Сроки и стоимость</h2>
                <p>
                    Пример расчета:
                </p>
                <blockquote>
                    Для команды разработки с <strong>одним ключевым проектом</strong> и численностью в
                    <strong>10 человек</strong> аудит займет <strong>календарную неделю</strong> и <strong>40 рабочих часов</strong>.
                    Cтоимость аудита — 100 000 рублей, но на первую работу скидка 20%, итоговая стоимость <strong>80 000 рублей</strong>.
                </blockquote>
                <p>
                    При большей команде трудоемкость растет нелинейно, еще 10 сотрудников добавят только 30% стоимости.
                    Для первого опыта нашего сотрудничества стоит посчитать fix price для всего аудита, потом, в случае заинтересованности в продолжении сотрудничества, выйти на T&M.
                </p>


                <h2>Другие задачи</h2>
                <p>
                    Чем я могу помочь еще:
                </p>

                <ol>
                    <li>
                        Оценю рамки бюджета и сроков для вашего проекта, риски и возможности.
                    </li>
                    <li>
                        Укажу наиболее подходящие технологии разработки для вашего проекта, с указанием достоинств и недостатков.
                    </li>
                    <li>
                        Исходя из ваших условий помогу сформировать команду разработки из внутренних или внешних ресурсов.
                    </li>
                    <li>
                        Проведу аудит качества работы ваших подрядчиков. Оценю реалистичность соблюдения заявленных сроков и объема работ.
                    </li>
                </ol>

            </div>
        </div>
    </div>
</section>

${require('./../includes/footer-ru.html')}
