
${require('underscore-node')
    .template(require('./../includes/header-ru.html'))({
        title: "организую для вас удаленную разработку",
        description: "Организую в вашей компании удаленную разработку из числа имеющихся сотрудников или с нуля."
})}

<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1>Организация удаленной разработки</h1>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <p>
                    Многие компании сегодня, и компании-разработчики программного обеспечения в частности
                    рассматривают вариант перевода своих сотрудников в удаленный рабочий режим.
                    Плюсы и минусы этого известны, но в организации удаленной разработки как с нуля, так и переводом с
                    офисного режима есть свои особенности, риски. Я укажу вам на эти особенности и помогу сделать
                    риски управляемыми.
                </p>
                <p>
                    Мне доводилось организовывать разработку программного обеспечения в офисе, удаленно,
                    распределенно между офисами, частично в офисе и частично удаленно в разном соотношении.
                    Я понимаю особенности взаимодействия сотрудников во всех этих вариантах и учту это в вашем случае.
                </p>
                <h2>Чем могу помочь я?</h2>
                <p>
                    В том числе я решу следующие задачи:
                </p>
                <ol>
                    <li>
                        Определю целесообразность и сложность внедрения удаленной разработки в вашем случае,
                        укажу риски, необходимые для внедрения ресурсы и сроки.
                    </li>
                    <li>
                        Порекомендую подходящие вам инструменты для организации удаленной работы,
                        корректировку регламентирующей документации для удаленной работы.
                    </li>
                    <li>
                        Поддержу процесс внедрения удаленной разработки в вашей компании:
                        укажу проблемные места во внедрении, предложу исправления.
                    </li>
                    <li>
                        Приму участие ряде регулярных мероприятий, чтобы наладить работу сотрудников в удаленном режиме.
                    </li>
                </ol>
                <p>
                    В результате вы сможете оценить необходимость внедрения удаленного режима, необходимые для этого
                    время и ресурсы, затем внедрите процесс удаленной работы в компании контролируемо и
                    с ожидаемым результатом.
                </p>

                <h2>Порядок действий</h2>
                <p>
                    Порядок действий уже отработан:
                </p>
                <ol>
                    <li>
                        Заключаем NDA, в вашей форме, либо я предложу свою.
                    </li>
                    <li>
                        Вы передаете для оценки объема работ доступ к информационным системам, технические задания,
                        списки сотрудников и прочее.
                    </li>
                    <li>
                        Я оцениваю мои затраты на работу: срок и стоимость работ.
                    </li>
                    <li>
                        Заключаем договор оказания консультаций по анализу и оптимизации процессов
                        разработки программного обеспечения.
                    </li>
                    <li>
                        Я разрабатываю предложение по внедрению режима удаленной работы со сроками, рисками,
                        необходимыми ресурсами.
                    </li>
                    <li>
                        После вашего одобрения поддерживаю внедрение режима удаленной работы в компании,
                        отслеживая процесс, помогая сотрудникам адаптироваться и решая другие возникающие сложности.
                    </li>
                    <li>
                        По результатам работы мы принимаем решение, требуется ли мое дальнейшее участие
                        в налаживании процессов разработки.
                    </li>
                </ol>

                <h2>Сроки и стоимость</h2>
                <p>
                    Анализ состояния дел, разработка планов, оценка ресурсов и рисков будут произведены в течение
                    первой недели, сразу после этого можно будет приступать ко внедрению практики удаленной разработки.
                </p>
                <p>
                    Внедрение и его контроль занимают примерно месяц с моим периодическим участием.
                </p>
                <p>
                    Пример расчета:
                </p>
                <blockquote>
                    В случае однородных команд подготовительные работы, займут 20 рабочих часов,
                    внедрение потребует участие в ключевых моментах работы команд и составит порядка 6-ти часов
                    в неделю в течение 4-х недель. <strong>Всего 44 часа и 1 календарный месяц</strong>.
                    Стоимость аудита — 110 000 рублей, но на первую работу скидка 20%, итоговая стоимость
                    <strong>88 000 рублей</strong>.
                </blockquote>
                <p>
                    В случае существенных различиях в роде деятельности команд, их распределенности
                    и других обстоятельств стоимость будет меняться.
                </p>

                <h2>Другие задачи</h2>
                <p>
                    Чем я могу помочь <a href="/ru/#popular-services-section">еще</a>:
                </p>

                <ol>
                    <li>
                        Проведу аудит качества вашей разработки с точки зрения организации процессов,
                        качества реализации продуктов, процессов обеспечения качества, поддержки.
                    </li>
                    <li>
                        Оценю рамки бюджета и сроков для вашего проекта, риски и возможности.
                    </li>
                    <li>
                        Укажу наиболее подходящие технологии разработки для вашего проекта, с указанием достоинств и недостатков.
                    </li>
                    <li>
                        Исходя из ваших условий помогу сформировать команду разработки из внутренних или внешних ресурсов.
                    </li>
                    <li>
                        Проведу аудит качества работы ваших подрядчиков. Оценю реалистичность соблюдения заявленных сроков и объема работ.
                    </li>
                </ol>

            </div>
        </div>
    </div>
</section>

${require('./../includes/footer-ru.html')}
