${require('./../includes/header.html')}

<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1>Найти CTO для вашего проекта</h1>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <p>
                    Итак, вы решили найти технического директора (или CTO, Chief Technology/Technical Officer),
                    того кто возьмет на себя ответственность за все аспекты разработки программного продукта.
                    В проектах небольшого масштаба CTO фактически может быть менеджером по разработке,
                    техлидом или тимлидом.
                </p>
                <h2>Поиск CTO</h2>
                <p>
                    Чтобы найти CTO, вам нужно проделать следующие шаги:
                </p>
                <ol>
                    <li>Определить перечень подходящих для вашего продукта технологий разработки.</li>
                    <li>Исходя из определенных условий сформировать требования к потенциальному кандидату.</li>
                    <li>Найти кандидатов и провести отбор на основании сформированных требований.</li>
                    <li>Договориться с успешным кандидатом о сотрудничестве на приемлемых для всех сторон условиях.</li>
                </ol>
<!--                <p>-->
<!--                    Для успешного завершения каждого из этих шагов требуются опыт и квалификация, я предлагаю вам в помощь свои.-->
<!--                </p>-->
                <p>
                    Каждый из этих шагов требует определенного опыта и квалификации:
                </p>

                <h3>Определение технологий разработки</h3>
                <p>
                    На сегодняшний день на рынке существует множество технологий для разработки программных продуктов.
                    Некоторые из них подойдут для разработки вашего продукта лучше, некоторые хуже.
                    Понять, годится ли технология для продукта можно, опираясь на опыт применения технологии на практике,
                    учитывая возраст технологии (сырая, молодая, зрелая, устаревшая и т.п.), ее популярность,
                    доступность специалистов на рынке труда.
                    Окончательное решение о том, какие технологии будут использованы при разработке проекта,
                    следует принимать совместно с найденым CTO, причем его мнение должно быть решающим.
                    Однако определить какие технологии применимы нужно еще до формирования требований к кандидату,
                    чтобы понять, кого искать.
                </p>

                <h3>Формирование требований к CTO</h3>
                <p>
                    В первую очередь нужно определить квалификационные требования: достаточная степень знакомства
                    со стеком технологий, заявленным кандидатом, опыт разработки в подходящей вам методологии,
                    знание предметной области проекта, опыт работы с бюджетами сравнимыми с вашим.
                    Кроме того, нужно умение управлять командой, знание необходимого инструментария для организации
                    разработки, некоторые специфические для вашего проекта навыки.
                    Здесь же нужно будет определиться, готовы ли вы работать с CTO удаленно, или требуется его
                    присутствие в офисе, каждый из вариантов имеет свои нюансы.
                </p>

                <h3>Поиск кандидатов в CTO</h3>
                <p>
                    Чтобы определить подходящих кандидатов в CTO сначала нужно сформировать достаточный пул кандидатов,
                    обратившись к публичным площадкам, своим контактам, прямым поиском и другими способами.
                    Затем нужно отобрать успешных кандидатов проверив соответствие сформированным ранее требованиям.
                    Очевидные действия, но выполнить их нужно правильно.
                    На этапе привлечения внимания к вакансии нужно создать впечатление о себе, как о команде, которая
                    понимает, какие задачи нужно решать, какой специалист ей нужен, как его буду оценивать.
                    Хорошие кандидаты в CTO - люди достаточно опытные, способные по описанию вакансии понять
                    с кем имеют дело.
                    Проверка кандидатов должна быть организована так, чтобы с одной стороны проверить соответствие
                    навыков кандидата заявленным и требуемым, с другой стороны не отпугнуть привлекательного кандидата
                    объемом или бесполезностью мероприятий.
                    Кроме того, хороший кандидат оценивает потенциальную команду по тем мерам, которые применяются для
                    определения его квалификации, предполагая, чтобы подобным образом подбираются и другие члены команды,
                    а квалификация команды всегда важный критерий при принятии решения о сотрудничестве.
                </p>

                <h3>Предложение о сотрудничестве для CTO</h3>
                <p>
                    Казалось бы, самый простой шаг из перечисленных - нужно лишь предложить сотрудничество наиболее привлекательному
                    кандидату из числа подходящих.
                    Но здесь важно правильно сформулировать условия, в первую очередь, конечно, размер
                    денежной компенсации и ее структуры (безусловная часть, премии и критерии их получения, доля в продукте и прочее).
                    Для многих кандидатов завышение денежной компенсации не даст какого-либо эффекта в их дальнейшей работе,
                    а занижение перечеркнет всю проделанную работу ранее.
                    Кроме того, в предложении нужно озвучить задачи, стоящие перед CTO в случае его согласия сейчас
                    и в перспективе.
                    Важно также оформить отношения юридически корректно.
                </p>

                <h2>Моя помощь в поиске CTO</h2>
                <p>
                    В своей профессиональной деятельности я набрал достаточный опыт для того, чтобы организовать все
                    необходимые этапы и найти CTO самостоятельно, либо помочь советом, компетенциями, материалами.

                    Наше взаимодействие будет примерно следующим:
                </p>
                <ol>
                    <li>
                        Вы передаете мне описание вашего продукта в любом виде (vision, идея, концепция и т.п.),
                        включая ограничения (если есть) бюджета, сроков, юридических, политических и пр.
                        Если потребуется, подпишу соглашение о неразглашении (NDA).
                    </li>
                    <li>
                        Я передаю первичную оценку, включая: возможность моего участия, пользу от моего участия,
                        условия, рамки объема работ, нюансы.
                    </li>
                    <li>
                        После достижения соглашения я приступаю к работе, на оговоренных условиях.
                    </li>
                </ol>

            </div>
        </div>
    </div>
</section>

${require('./../includes/footer.html')}
