
${require('underscore-node')
    .template(require('./../includes/header-en.html'))({
        title: "Software Development Organizer",
        description: "Organize software development. I will help you choose a contractor among software companies, freelancers. I will help you assess the cost of implementing your idea, determine the technologies and development methodologies, and monitor the implementation."
    })}

<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>I will help</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Estimate the budget and duration of the project</h3>

                    <p>
                        I will evaluate the budget framework and timelines for your project, the risks and opportunities.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Choose development technologies </h3>

                    <p>
                        I will indicate the most appropriate development technologies for your project, indicating the advantages and disadvantages.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Form a development team</h3>

                    <p>
                        Based on your conditions, I will help to form a development team from internal or external resources.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Control contractors</h3>

                    <p>
                        I will conduct an audit of the quality of work of your contractors. I will evaluate the feasibility of meeting the stated deadlines and scope of work.
                    </p>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>I am able</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">Software Development Project Management</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 90%"><span class="progress-percent"> 90%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Quality management</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 85%;"><span class="progress-percent"> 85%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Product management</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 70%"><span class="progress-percent"> 70%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">People Management</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 85%;"><span class="progress-percent"> 85%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Software architecture design</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 80%;"><span class="progress-percent"> 80%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">HR branding</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 65%;"><span class="progress-percent"> 65%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->
                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <button class="btn btn-primary detailed-skills" type="button" data-toggle="collapse"
                            data-target="#spoiler-detailed-skills" aria-expanded="false" aria-controls="spoiler-detailed-skills">
                        More about skills
                    </button>
                </p>
                <div class="collapse" id="spoiler-detailed-skills">
                    <ul class="done-list">
                        <li>Formation of development teams, team management, team development.</li>

                        <li>Organization of development according to various methodologies: Agile Scrum, Kanban, Waterfall, WaterScrumFall.</li>
                        <li>Organization of requirements management: processes of business and system analysis, validation of requirements, acceptance of requirements.
                        </li>
                        <li>Organization of processes for ensuring the quality of software products: verification (testing), validation, processes from the standards of the ISO 9000 family.</li>
                        <li>Organization of product launch and support processes, including organization of support services, implementation of DevOps, continuous integration / continuous deployment (CI / CD) systems.</li>
                        <li>Organization of product management: product life cycle processes (LifeCycle Management), implementation of the Stage-Gate concept in these processes.</li>
                        <li>Budgeting of development by departments / projects.</li>
                        <li>Project management of software product development.</li>
                        <li>Organization of training processes, mentoring, internship programs for various specialties, grades of specialists in software development.</li>
                        <li>Software architecture design.</li>
                        <li>Designing API for software products.</li>
                        <li>Software Product Development.</li>
                        <li>Development of technical and design documentation.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Опыт</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <ul class="done-list">
                        <li>Experience in direct software development <strong>10 years</strong>.</li>
                        <li>Software architecture design experience <strong>8 years</strong>.</li>
                        <li>Experience in forming software development teams <strong>10 years</strong>.</li>
                        <li>Software products developed <strong>over 50</strong>.</li>
                        <li>Estimated budgets and terms <strong>over 500</strong>.</li>
                        <li>Interviews conducted <strong>over 2000</strong>.</li>
                    </ul>
                </div>
                <div class="content-item">
                    <p>
                        I’ll tell you more about my experience in the context of your task.
                        Upon request, I will provide a summary, recommendations or contacts of customers.
                    </p>
                </div>

            </div>
        </div>
        <!-- .row -->

    </div>
</section>
<!-- .section-publications -->

${require('./../includes/footer-en.html')}
