
${require('underscore-node')
    .template(require('./../includes/header-ru.html'))({
        title: "организатор разработки программного обеспечения",
        description: "Организую разработку программного обеспечения. Помогу выбрать подрядчика среди компаний-разработчиков ПО, фрилансеров. Помогу оценить стоимость реализации вашей идеи, определить технологии и методологии разработки, проконтролировать выполнение."
    })}

<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Помогу</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Оценить бюджет и срок проекта</h3>

                    <p>
                        Оценю рамки бюджета и сроков для вашего проекта, риски и возможности.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Определить технологии разработки </h3>

                    <p>
                        Укажу наиболее подходящие технологии разработки для вашего проекта, с указанием достоинств и недостатков.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Сформировать команду разработки</h3>

                    <p>
                        Исходя из ваших условий помогу сформировать команду разработки из внутренних или внешних ресурсов.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Проконтролировать подрядчиков</h3>

                    <p>
                        Проведу аудит качества работы ваших подрядчиков. Оценю реалистичность соблюдения заявленных сроков и объема работ.
                    </p>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Умею</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">Управление проектами разработки ПО</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 90%"><span class="progress-percent"> 90%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Управление качеством</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 85%;"><span class="progress-percent"> 85%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Управление продуктами</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 70%"><span class="progress-percent"> 70%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Управление персоналом</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 85%;"><span class="progress-percent"> 85%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Проектирование ПО</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 80%;"><span class="progress-percent"> 80%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">HR-брендинг</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 65%;"><span class="progress-percent"> 65%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->
                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <button class="btn btn-primary detailed-skills" type="button" data-toggle="collapse"
                            data-target="#spoiler-detailed-skills" aria-expanded="false" aria-controls="spoiler-detailed-skills">
                        Больше слов про умения
                    </button>
                </p>
                <div class="collapse" id="spoiler-detailed-skills">
                    <ul class="done-list">
                        <li>Формирование команд разработки, управление командами, развитие команд.</li>

                        <li>Организация разработки по различным методологиям: Agile Scrum, Kanban, Waterfall,
                            WaterScrumFall.</li>
                        <li>Организация управления требованиями: процессы бизнес- и системного анализа, валидации
                            требований, приемки требований.
                        </li>
                        <li>Организация процессов обеспечения качества программных продуктов: верификация (тестирование),
                            валидация, процессы из стандартов семейства ISO 9000.</li>
                        <li>Организация процессов запуска продуктов и поддержки, включая организацию служб поддержки,
                            внедрение концепции DevOps, систем непрерывной интеграции/непрерывного развертывания
                            (CI/CD).</li>
                        <li>Организация управления продуктами: процессы жизненного цикла продукта (LifeCycle Management),
                            внедрение концепции Stage-Gate в этих процессах.</li>
                        <li>Бюджетирование разработки по подразделениям/проектам.</li>
                        <li>Управление проектами по разработке программных продуктов.</li>
                        <li>Организация процессов обучения, наставничества, стажерских программ для разных специальностей,
                            системы грейдов специалистов в разработке программного обеспечения.</li>
                        <li>Проектирование архитектуры программных продуктов.</li>
                        <li>Проектирование API программных продуктов.</li>
                        <li>Разработка программных продуктов.</li>
                        <li>Разработка технической и проектной документации.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Опыт</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <ul class="done-list">
                        <li>Опыт непосредственной разработки ПО <strong>10 лет</strong></li>
                        <li>Опыт проектирования архитектуры ПО <strong>8 лет</strong></li>
                        <li>Опыт формирования команд разработки ПО <strong>10 лет</strong></li>
                        <li>Разработано программных продуктов <strong>более 50</strong></li>
                        <li>Оценено бюджетов и сроков <strong>более 500</strong></li>
                        <li>Собеседований проведено <strong>более 2000</strong></li>
                    </ul>
                </div>
                <div class="content-item">
                    <p>
                        Расскажу про свой опыт подробнее в контексте вашей задачи.
                        По запросу предоставлю резюме, рекомендации или контакты заказчиков.
                    </p>
                </div>

            </div>
        </div>
        <!-- .row -->

    </div>
</section>
<!-- .section-publications -->

${require('./../includes/footer-ru.html')}
